/* elemento main  */
.conteudo-principal, .rodape-principal {
    width: 940px;
}

.titulo-principal {
    font-family: "Arima", system-ui;
    color: rgb(10, 85, 151);
    text-align: center;
    font-size: 36px;
    border-bottom: 1px solid rgb(10, 85, 151);
    margin: 20px 0;
    padding: 20px 0;
}

.conteudo-secao {
    padding: 10px 0px;
}

.conteudo-secao p {
    padding: 5px 0 5px 0;
    text-align: justify;
}

.cabecalho-secao {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a196a7; 
    margin-bottom: 10px;   
}

.titulo-curiosidade {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: teal;
    font-size: .8rem;
}

/* outro conteudo central */

/* Rodape */
.rodape {
    background-color: rgb(245, 247, 230);
    width: 940px;
    margin-top: 20px;
}

.rodape div {
    margin: 0 auto;
    box-sizing: border-box;
}

.rodape h3 {
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.rodape h4 {
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: blue;
}
.rodape ul {
    margin-left: 20px;
    padding: 20px;
}